:root {
    --bg-color: #FAE3E3;
    --title-font-size: 60px;
    --font: 'Lora', serif;
}

body {
    background: var(--bg-color) !important;
    font: var(--font) !important;
}

#center-column {
    padding-top: 3%;
}

#app-title {
    font-size: var(--title-font-size);
}

#moonPhaseImage {
    width: 270px;
    height: 330px;
}
