:root {
    --bg-color: #FAE3E3;
    --title-font-size: 60px;
    --font: 'Lora', serif;
}

html, body {
    background: var(--bg-color) !important;
    font: var(--font) !important;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#center-column {
    padding-top: 3%;
}

#app-title {
    font-size: var(--title-font-size);
}

#moonPhaseImage {
    width: 270px;
    height: 330px;
}

#footer {
  font-family: var(--font);
  margin-top: auto;
  padding: 15px 0;
  position: relative;
}